# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/
data/*.csv
data/*.zip
data/*.tar
data/*.gz

# Large files
*.h5
*.hdf5
*.pkl
*.pickle
*.bin

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/

# Temporary files
*.tmp
*.log